<%- include('../template/head')-%>


    <body>

        <%- include('../template/nav')-%>
            <div class="container">

                <h1>
                    <%= board.name %>
                </h1>
            </div>
            <div class="container-fluid">
                <div class="cards d-flex justify-content-around">
                    <% lists.forEach(list => {%>
                        <div class="card" id="<%= list.id %> ">
                            <h1>
                                <%= list.header %>
                            </h1>
                            <ul class="list-group">
                                <% list.listItems.forEach(item => {%>
                                    <li class="list-group-item">
                                        <%= item %>
                                    </li>
                                    <% });  %>
                                        <li><textarea name="new task" id="listItem" cols="30" rows="1"></textarea></li>

                            </ul>
                            <input type="submit" id="Cart" class="btn btn-primary js-add-listItem">
                        </div>

                        <%  }); %>

                            <div class="card">
                                <form id="createList" action="" method="POST">
                                    <input class="list-name-input" type="text" name="listName" placeholder="Enter list title..." autocomplete="off" maxlength="512">
                                    <button>Add List</button>
                                </form>
                            </div>

                </div>
            </div>

            <script src="/JS/fetchBoardOperations.js"></script>
    </body>

    </html>